@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-black;
  }
}

@layer utilities {
  /* ---------- typography ---------- */
  .heading-01 {
    @apply text-[64px] laptop:text-[56px] mobile:text-[40px] font-bold tracking-wide leading-tight;
  }

  .heading-02 {
    @apply text-3xl mobile:text-2xl font-bold leading-tight tracking-wide text-neutral-600;
  }

  .heading-03 {
    @apply text-2xl font-semibold tracking-wide leading-none;
  }

  .heading-04 {
    @apply text-lg laptop:text-base font-semibold tracking-wide leading-none;
  }

  .subheading {
    @apply text-base laptop:text-sm font-medium tracking-wide leading-snug;
  }

  .label {
    @apply text-base laptop:text-sm font-semibold normal-case tracking-wider leading-none;
  }

  .caption {
    @apply text-sm laptop:text-xs font-semibold normal-case tracking-wider leading-snug;
  }

  .paragraph {
    @apply text-base laptop:text-sm tracking-wide leading-loose;
  }

  .text-justify-forced {
    white-space: pre;
    white-space: pre-wrap;
    white-space: pre-line;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -hp-pre-wrap;
    word-wrap: break-word;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
    text-align: justify;
  }

  /* ---------- layout ---------- */
  .content {
    @apply w-full max-w-[1400px] laptop:max-w-[1000px] tablet:max-w-[800px] mx-auto px-10 laptop:px-8 mobile:px-5;
  }
}

/* ---------- css debugger ---------- */
/* * { background-color: #00ff0020 !important; } */
